<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Tokens" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <Tokens>
    <add key="DiscordToken" value="MjkwODAzOTI0NTM2MDAwNTEy.C6hk0Q.wcG1X7t8ZzbF0pKzC4tCYZSYcRE"/>
  </Tokens>
  
</configuration>